##############################
## Rust
##############################
**/debug/
**/target/
**/Cargo.lock
**/*.rs.bk
**/*.pdb


##############################
## Visual Studio Code
##############################
**/.vscode/
**/.code-workspace
